
.buttons{
    width: 100%;
    justify-content: flex-end;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.message{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title{
    text-align: center;
}