<div class="uno" >
    <div class="dos">
        <div class="titulo">
            <h1>Gestion Usuarios</h1>
        </div>
        
        <div>
            <app-crear-citas [cedulaUsuario]="cedulaUsuario" ></app-crear-citas>
        </div>

        <div class="tabla">
            <table mat-table [dataSource]="listaCitasMedicasUsuario" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Position Column -->
                <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="tipoCita">
                <th mat-header-cell *matHeaderCellDef> Tipo de cita </th>
                <td mat-cell *matCellDef="let element"> {{element.asignada}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="sintomatologia">
                <th mat-header-cell *matHeaderCellDef> Sintomatologia </th>
                <td mat-cell *matCellDef="let element"> {{element.sintomatologia}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    
</div>