.pantalla{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #f5f5f5;
}

.centrar{
    text-align: center;
}

.tabla{
    max-height: 50%;
}

table{
    width: 100%;
}

td{
    text-align: left;
}