<div class="fondo-pantalla">
    <div class="centrar-contenido">
        <div class="titulo">
            <h1>Mostrar valores cuotas moderadoras</h1>
        </div>

        <div class="boton">
            <button mat-raised-button color="accent" (click)="navigateCrearCuotaModeradora()">Parametrizar cuota moderadora</button>
        </div>

        <div class="tabla">
            <table mat-table [dataSource]="listaCuotasModeradoras" class="mat-elevation-z8">
                <!-- Columna tipo de cita -->
                <ng-container matColumnDef="tipoCita">
                    <th mat-header-cell *matHeaderCellDef> Tipo de cita </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoCita.nombre}} </td>
                </ng-container>
                
                <!-- Columna tipo de contrato -->
                <ng-container matColumnDef="tiposContrato">
                    <th mat-header-cell *matHeaderCellDef> Tipo de contrato </th>
                    <td mat-cell *matCellDef="let element"> {{element.tiposContrato.nombre}} </td>
                </ng-container>
            
                <!-- Columna valor -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef> Valor (Pesos) </th>
                    <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                </ng-container>
            
                <!-- Columna acciones -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            
        </div>
        <mat-paginator  [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>

