.left-form{
    float: left;
    width: 40vh;
    padding-right: 10vh;
}

.right-form{
    float: left;
    width: 40vh;
}

.button{
    clear: both;
    text-align: left;
}

.button-cancel{
    clear: both;
    text-align: left;
    margin-left: 2%;
}

mat-form-field {
    width: 100%;
}