table {
    width: 100%;
}

.center-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
}

th{
    width: 15%;
}

.button{
    clear: both;
    text-align: left;
}

.left-form{
    float: left;
    width: 40vh;
    padding-right: 10vh;
}

.right-form{
    float: left;
    width: 40vh;
}

mat-form-field {
    width: 100%;
}

table{
    text-align: left;
}

.tabla{
    max-height: 50%;
}