<mat-toolbar color="primary">

    <button mat-icon-button class="logo-image">
        <img class="image" src="./assets/imagenes/LogoTextoLateral.png">
    </button>

    <button mat-button (click)="navigateInicio()">Inició</button>

    <button mat-button [matMenuTriggerFor]="aboveMenu">Configuración
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="navigateListarMedicos()">Getión médicos</button>
      <button mat-menu-item (click)="navigateListarCentrosMedicos()">Gestión centros médicos</button>
      <button mat-menu-item (click)="navigateListarTipoCita()">Getión tipos de cita</button>
      <button mat-menu-item (click)="navigateListarUsuarios()">Gestión usuarios</button>
      <button mat-menu-item (click)="navigateListarCuotasModeradoras()">Parametrizar cuotas moderadoras</button>
      <button mat-menu-item (click)="navigateListarEspecialidadesTipoCita()">Parametrizar tipos de cita por especialidad</button>
    </mat-menu>

    <button mat-button (click)="navigateListarAgendas()">Consultar agendas</button>

    <button mat-button (click)="navigateGenerarAgendas()">Generar agendas</button>


    <span class="example-spacer"></span>

    <button mat-stroked-button (click)="navigateInicio()">Cerrar sesión</button>
</mat-toolbar>