<form [formGroup]="formGroup" (ngSubmit)="addCuotaModeradora()" >

    <div class="left-form">
        
        <h4>Tipo de cita</h4>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de cita</mat-label>
            <mat-select [(ngModel)]="tipoCitaSeleccionada" formControlName="tipoCita">
            <mat-option *ngFor="let tipoCita of listaTiposCita" [value]="tipoCita.id">
                {{tipoCita.nombre}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <h4>Valor</h4>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Valor</mat-label>
            <input matInput [(ngModel)]="valor" type="text" name="valor" formControlName="valor" autocomplete="off">
            <!--validaciones campo cedula-->
            <mat-error *ngIf="formGroup.controls.valor.hasError('required')">Valor requerido</mat-error>
            <mat-error *ngIf="formGroup.controls.valor.hasError('pattern')">Solo valores numéricos</mat-error>
        </mat-form-field>

    </div>

    <div class="right-form">

        <h4>Tipo de contrato</h4>
        <mat-form-field appearance="fill">
        <mat-label>Tipo de contrato</mat-label>
        <mat-select [(ngModel)]="tipoContratoSeleccionado" formControlName="tipoContrato">
          <mat-option *ngFor="let tipoContrato of listaTiposContrato" [value]="tipoContrato.id">
            {{tipoContrato.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="button">  
        <button class="button-success" type="submit" class="button" mat-raised-button color="accent" [disabled]="formGroup.invalid">Crear usuario</button>
    </div>

</form>